<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3">
        We are getting married
      </h2>

      <h3 class="mt-2 location">
        June 3rd, 2023 - Oud-Turnhout, Belgium
      </h3>
    </div>
  </div>
</div>

<section class="d-flex justify-content-center align-items-center mt-3 mb-3">
  <img class="img-fluid flower-banner" alt="Flowers" src="assets/img/flower-banner.png" />
</section>

<div class="row mt-5">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center wedding">
      <p class="rsvp-intro">
        We can't wait to celebrate this amazing day with you.
        <br />
        In anticipation of the big day, we have created this website to keep
        you
        <br />
        up to date on all the details of our wedding.
      </p>

      <p class="my-3 text-center">
        Starting from November 1st, you will be able to let us know if you are attending or not.</p>

      <button type="button" class="teal mt-3 mat-elevation-z3 d-none" mat-flat-button color="primary"
        routerLink="/rsvp-form" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        Click here to RSVP
      </button>
    </div>
  </div>
</div>
