<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3" i18n="@@rsvpTitle">
        We are getting married
      </h2>

      <h3 class="mt-2 location" i18n="@@rsvpLocation">
        June 3rd, 2023 - Oud-Turnhout, Belgium
      </h3>
    </div>
  </div>
</div>

<section class="d-flex justify-content-center align-items-center mt-3 mb-4">
  <img class="img-fluid flower-banner" alt="Flowers" src="assets/img/flower-banner.png" />
</section>

<div class="row mt-3">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center wedding">
      <p class="rsvp-intro d-none" *ngIf="hasReplied == false" i18n="@@rsvpIntro">
        We can't wait to celebrate this amazing day with you.
        <br />
        In anticipation of the big day, we have created this website to keep
        you
        <br />
        up to date on all the details of our wedding.
      </p>

      <button type="button" class="teal mt-3 mat-elevation-z3" mat-flat-button color="primary" routerLink="/rsvp-form"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="hasReplied == false"
        i18n="@@rsvpButton">
        Click here to RSVP
      </button>

      <p class="rsvp-warning" *ngIf="hasReplied == false" i18n="@@rsvpDeadline">
        Kindly RSVP your attendance before <br /> the 1st of February 2023.
      </p>

      <p class="rsvp-transport-warning" *ngIf="hasReplied == false" i18n="@@rsvpTransport">
        To make sure everyone is on time and arrives safely to the venue, we have arranged a touring bus departing and
        <br />
        arriving in Turnhout centre (walking distance of the 5 hotels we adviced on the site).

        <br />
        <br />

        We will let you know the exact pick up point nearer the time.

        <br />
        <br />

        Please beware, there are a limited number of seats available. Please respond before 31st of November 2022
      </p>

      <p class="rsvp-intro" *ngIf="hasReplied" i18n="@@rsvpFinishMessage">
        Thank you for letting us know, that you will be celebrating our special day with us.
      </p>
    </div>
  </div>
</div>
