<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3" [translate]="'rsvp.title'"></h2>

      <h3 class="mt-2 location" [translate]="'rsvp.location'"></h3>
    </div>
  </div>
</div>

<section class="d-flex justify-content-center align-items-center mt-3 mb-4">
  <img class="img-fluid flower-banner" alt="Flowers" src="assets/img/flower-banner.png" />
</section>

<div class="row mt-3">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center wedding">
      <p class="rsvp-intro d-none" *ngIf="hasReplied == false" [innerHTML]="'rsvp.intro' | translate"></p>

      <button type="button" id="btnRSVP" class="teal mt-3 mat-elevation-z3" mat-flat-button color="primary" routerLink="/rsvp-form"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="hasReplied == false" title="RSVP">
        <span [translate]="'rsvp.button'"></span>
      </button>

      <p class="rsvp-warning" *ngIf="hasReplied == false" [innerHTML]="'rsvp.deadline' | translate"></p>

      <p class="rsvp-transport-warning" *ngIf="hasReplied == false" [innerHTML]="'rsvp.transport' | translate"></p>

      <p class="rsvp-success" *ngIf="hasReplied" [translate]="'rsvp.successMessage'"></p>
    </div>
  </div>
</div>
