<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3" [translate]="'dietary.title'"></h2>

      <p class="my-2 replied" *ngIf="hasReplied" [innerHTML]="'dietary.successMessage' | translate"></p>

      <p class="mt-2 dietary-intro" [innerHTML]="'dietary.intro' | translate"></p>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center justify-content-center w-100">

      <mat-form-field class="pink mt-2" appearance="fill">
        <mat-label [translate]="'dietary.form.name'"></mat-label>
        <input matInput type="text" placeholder="Harry Potter" [(ngModel)]="name" required (keyup)="onChange()">
      </mat-form-field>

      <mat-selection-list class="" #restrictions (selectionChange)="onChange()">
        <mat-list-option checkboxPosition="before" value="lactose">
          <span [translate]="'dietary.form.options.lactose'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="gluten">
          <span [translate]="'dietary.form.options.gluten'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="vegatarian">
          <span [translate]="'dietary.form.options.vegatarian'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="vegan">
          <span [translate]="'dietary.form.options.vegan'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="dairy">
          <span [translate]="'dietary.form.options.dairy'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="shellfish">
          <span [translate]="'dietary.form.options.shellfish'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="peanut">
          <span [translate]="'dietary.form.options.peanut'"></span>
        </mat-list-option>
        <mat-list-option checkboxPosition="before" value="other" (click)="showHideInput()">
          <span [translate]="'dietary.form.options.other'"></span>
        </mat-list-option>
      </mat-selection-list>

      <mat-form-field id="txtOtherRestriction" class="gray" floatLabel="never" #otherInput
        [hidden]="showInput === false">
        <textarea matInput placeholder="{{ 'dietary.form.otherPlaceholder' | translate }}" appearance="fill"
          [(ngModel)]="otherRestrictions" rows="5" (keyup)="onChange()"></textarea>
      </mat-form-field>
    </div>

    <div class="d-flex align-items-center justify-content-end mt-5">
      <button type="button" mat-flat-button color="primary" class="red" (click)="sendForm()" [disabled]="disableSubmit"
        title="{{ 'dietary.form.send' | translate }}">
        <span [translate]="'dietary.form.send'"></span>
      </button>
    </div>
  </div>
</div>
