<div class="header">
  <div class="logo" (click)="enterAdminMenu()">
    Rossana & Dean
  </div>
  <nav class="navbar navbar-expand-xl bg-transparent navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-xs-flex d-xl-none">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse" data-bs-target="#navbarNav" i18n="@@navHome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isRsvpForm" aria-current="page" routerLink="/rsvp"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" i18n="@@navRSVP">RSVP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/venue" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse" data-bs-target="#navbarNav" i18n="@@navVenue">Venue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/dietary" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse" data-bs-target="#navbarNav" i18n="@@navDiet">
              Dietary restrictions
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/places-to-eat" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse" data-bs-target="#navbarNav" i18n="@@navDinner">Places to
              eat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/accomodations" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" i18n="@@navHotels">Accomodations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/transportation-to-venue" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" i18n="@@navTransport">Transportation to venue</a>
          </li>
        </ul>
        <ul class="navbar-nav d-none d-xl-flex">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" i18n="@@navHome">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isRsvpForm" aria-current="page" routerLink="/rsvp"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" i18n="@@navRSVP">RSVP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/venue" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" i18n="@@navVenue">Venue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/dietary" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" i18n="@@navDiet">Dietary
              restrictions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/places-to-eat" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" i18n="@@navDinner">
              Places to eat
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/accomodations" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" i18n="@@navHotels">Accomodations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/transportation-to-venue" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" i18n="@@navTransport">Transportation to venue</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
