@import "../../../../assets/styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;

  .logo {
    margin: 4rem 0;
    text-align: center;
    font-family: "hjirnotes", sans-serif;
    font-size: 64px;
    height: auto;
  }

  .navbar {
    margin-top: 1rem;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;

    .navbar-nav {
      // gap: 0.5rem;
      align-items: center;
    }

    .nav-item {
      .nav-link {
        font-family: "Avant-Garde Medium", sans-serif;
        color: $primary-text;
        text-align: center;
        text-transform: uppercase;

        &.active {
          color: $dark-text;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1400px) {
  .header {
    .navbar {
      .navbar-nav {
        gap: 0.2rem;
        margin-top: 1rem;
      }

      .nav-item {
        .nav-link {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .header {
    .navbar {
      width: 90%;

      .navbar-toggler {
        margin: 0 auto;
      }

      .navbar-nav {
        gap: 0.2rem;
      }

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .header {
    .logo {
      margin: 3rem 0 2rem 0;
      font-size: 50px;
    }

    .navbar {
      width: 90%;

      .navbar-toggler {
        margin: 0 auto;
      }

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .header {
    .navbar {
      .navbar-nav {
        gap: 0.2rem;
        margin-top: 1rem;
      }
    }
  }
}
