@import "../../../../assets/styles/variables.scss";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;

  .logo {
    margin: 4rem 0;
    text-align: center;
    font-family: "hjirnotes", sans-serif;
    font-size: 64px;
    height: auto;
  }

  .navbar {
    margin-top: 1rem;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;

    .navbar-nav {
      // gap: 0.5rem;
      align-items: center;
    }

    .nav-item {
      .nav-link {
        font-family: "Avant-Garde Medium", sans-serif;
        color: $primary-text;
        text-align: center;
        text-transform: uppercase;

        &.active {
          color: $dark-text;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;
    background: $background-color;

    &::after {
      content: "";
      position: absolute;
      top: -35px;
      left: -30px;
      right: -30px;
      width: auto;
      height: 17vh;
      background-image: url("../../../../assets/img/flowers_top--transparent.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;
      background: $background-color;

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}


@media (min-width: 576px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;
    background: $background-color;

    &::after {
      content: "";
      position: absolute;
      top: -35px;
      left: -30px;
      right: -30px;
      width: auto;
      height: 17vh;
      background-image: url("../../../../assets/img/flowers_top--transparent.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;
      background: $background-color;

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;
    background: $background-color;

    &::after {
      content: "";
      position: absolute;
      top: -35px;
      left: -30px;
      right: -30px;
      width: auto;
      height: 17vh;
      background-image: url("../../../../assets/img/flowers_top--transparent.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;
      background: $background-color;

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;

      .nav-item {
        .nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

// @media (min-width: 300px) and (max-width: 1400px) {
//   .header {
//     display: flex;
//     flex-direction: column;
//     height: auto;
//     padding-top: 5vh;
//     padding-bottom: 15px;
//     background: $background-color;

//     &::after {
//       content: "";
//       position: absolute;
//       top: -35px;
//       left: -30px;
//       right: -30px;
//       width: auto;
//       height: 17vh;
//       background-image: url("../../../../assets/img/flowers_top--transparent.png");
//       background-size: cover;
//       background-repeat: no-repeat;
//     }

//     .navbar {
//       width: 90%;
//     }

//     .navbar-toggler {
//       margin: 0 auto;
//       font-size: 1rem;
//     }

//     .navbar-nav {
//       gap: 0.2rem;
//       margin-top: 1rem;
//       background: $background-color;

//       .nav-item {
//         .nav-link {
//           font-size: 14px;
//         }
//       }
//     }
//   }
// }


// @media (min-width: 992px) and (max-width: 1400px) {
//   .header {
//     .navbar {
//       width: 90%;

//       .nav-item {
//         .nav-link {
//           font-size: 12px;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 1250px) {
//   .header {
//     .navbar {
//       width: 90%;
//     }
//   }
// }

// @media (max-width: 992px) {
//   .header {
//     .logo {
//       margin: 2rem 0 1rem 0;
//       font-size: 2.3rem;
//     }

    // .navbar {
    //   width: 90%;

    //   .navbar-toggler {
    //     margin: 0 auto;
    //     font-size: 1rem;
    //   }
    // }
//   }
// }
