<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">

      <div class="w-75 mt-2 d-flex flex-column align-items-center">
        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label>Name of guests</mat-label>
          <input matInput type="text" placeholder="Ex. Rossana & Dean" [(ngModel)]="coupleNames">
        </mat-form-field>

        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label>Name of first person</mat-label>
          <input matInput type="text" placeholder="Rossana" [(ngModel)]="firstPerson">
        </mat-form-field>

        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label>Name of second person</mat-label>
          <input matInput type="text" placeholder="Dean" [(ngModel)]="secondPerson">
        </mat-form-field>

        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label>Name of third person</mat-label>
          <input matInput type="text" placeholder="Oliver" [(ngModel)]="thirdPerson">
        </mat-form-field>

        <button type="button" mat-flat-button class="teal mt-4" (click)="this.save()">
          Save and new
        </button>
      </div>

    </div>
  </div>
</div>
