<div class="row">
  <div class="col-12">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3 mb-1">
        Admin
      </h2>

      <mat-tab-group class="w-100 mt-4" mat-align-tabs="start" animationDuration="1000ms">
        <mat-tab label="Guests">
          <div class="container">
            <app-guest-overview></app-guest-overview>
          </div>
        </mat-tab>
        <mat-tab label="Add guests">
          <div class="container">
            <app-add-guest></app-add-guest>
          </div>
        </mat-tab>
        <mat-tab label="Dietary restrictions">
          <div class="container">
            <app-dietary-overview></app-dietary-overview>
          </div>
        </mat-tab>
        <mat-tab label="Transportation">
          <div class="container">
            <app-transport-overview></app-transport-overview>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
