<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3" [translate]="'rsvp.form.title'"></h2>

      <h3 class="mt-2 rsvp-intro" [translate]="'rsvp.form.intro'"></h3>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center justify-content-center">

      <mat-form-field id="txtSearchName" class="pink mx-auto" appearance="outline">
        <mat-label [translate]="'rsvp.form.inputLabel'"></mat-label>
        <input matInput type="text" placeholder="{{ 'rsvp.form.inputLabel' | translate }}" [matAutocomplete]="auto"
          [formControl]="formControl" (focus)="hideAutocomplete()" (keyup)="hideAutocomplete()"
          (keypress.backspace)="onBackspace()" />
        <button type="button" matSuffix mat-icon-button aria-label="Clear" *ngIf="query.length > 0"
          (click)="query = ''">
          <mat-icon>close</mat-icon>
        </button>

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" #autocomplete
          (optionSelected)="selectOption($event)" [displayWith]="displayGuests">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div id="formAttending" *ngIf="selectedCollection != null">
        <h4 [translate]="'rsvp.form.attending'"></h4>

        <div class="d-flex flex-column">
          <div class="attending-row" *ngFor="let person of selectedCollection!.persons">

            <div class="attending-form">
              <span class="attending-text">Is <b>{{person.name}}</b> {{'rsvp.form.attendingForm' | translate }}?</span>
              <div class="attending-buttons">
                <button type="button" class="btn-green" [class.active]="person.isAttending" mat-stroked-button
                  color="primary" (click)="setAttending(person, true)" [translate]="'rsvp.form.yes'"
                  title="{{ 'rsvp.form.yes' | translate }}">
                </button>
                <button type="button" class="btn-red" [class.active]="person.isAttending == false" mat-stroked-button
                  color="primary" (click)="setAttending(person, false)" [translate]="'rsvp.form.no'"
                  title="{{ 'rsvp.form.no' | translate }}">
                </button>
              </div>
            </div>

            <div class="attending-status">
              <mat-icon *ngIf="person.isAttending">mood</mat-icon>
              <mat-icon *ngIf="person.isAttending == false">mood_bad</mat-icon>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="d-flex align-items-center justify-content-end mt-5">
      <button type="button" mat-flat-button color="primary" class="red" (click)="sendForm()"
        *ngIf="selectedCollection != null" title="{{ 'rsvp.form.send' | translate }}">
        <span [translate]="'rsvp.form.send'"></span>
      </button>
    </div>
  </div>
</div>
