@import "~/src/assets/styles/main";

.title {
  font-family: "Bauer Bodoni", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: $dark-text;
  letter-spacing: 2px;
}

.rsvp-intro {
  font-family: "Josefin", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: $primary-text;
}

#txtSearchName {
  width: 80%;
}

#formAttending {
  margin-top: 1rem;
  width: 80%;

  h4 {
    font-family: "Avant-Garde Medium", sans-serif;
    font-size: 1.2rem;
    color: $primary-text;
  }

  .attending-row,
  .request_seat-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.15);

    .person-row {
      display: flex;
      width: 100%;
    }

    .attending-status {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 50px;
      flex: 1 0 50px;
      min-height: 50px;
      margin-left: 1rem;

      .mat-icon {
        transform: scale(1.5);
      }
    }

    .attending-form,
    .request_seat-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 100%;

      .attending-buttons,
      .request_seat-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;

        button {
          width: auto;
        }

        .btn-green {
          background-color: transparent;
          color: $green;

          &.active {
            background-color: rgb(140, 226, 126, 0.8);
            color: #fff;
          }
        }

        .btn-red {
          background-color: transparent;
          color: $secondary-color;

          &.active {
            background-color: rgb(227, 29, 75, 0.8);
            color: #fff;
          }
        }
      }

      &:first-of-type {
        margin-top: 0rem;
      }
    }
  }
}

button.red {
  width: 140px !important;
}

@media (min-width: 300px) and (max-width: 768px) {
  .title {
    font-size: 2rem;
    margin-top: 2rem !important;
  }

  .rsvp-intro {
    font-size: 1.6rem;
  }

  #txtSearchName {
    width: 100%;
  }

  #formAttending {
    width: 100%;

    h4 {
      text-align: center;
    }

    .attending-row {
      flex-direction: column !important;
      margin: 1rem 0;
      border: 1px solid rgba(0, 0, 0, 0.15);

      .attending-status {
        margin-left: 0rem !important;

        .mat-icon {
          transform: scale(1.5) !important;
        }
      }

      &:first-of-type {
        margin-top: 0rem;
      }
    }

    .attending-form,
    .request_seat-form {
      flex-direction: column !important;
      border: none !important;

      .attending-buttons,
      .request_seat-buttons {
        margin-top: 1rem !important;
        flex-direction: column !important;
        row-gap: 1rem;

        button {
          width: 150px !important;
        }
      }
    }
  }
}
