<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3 mb-3">
        Wedding venue
      </h2>

      <div class="mt-4">
        <h3 class="venue-name">ALTA RIPA</h3>
        <a class="address" href="https://www.altaripa.be/" target="_blank" title="Alta Ripa" rel="noopener">
          <i class="fa-solid fa-map-location-dot"></i>
          Engelstraat 6, 2360 Oud-Turnhout, België
        </a>
      </div>
    </div>
  </div>
</div>

<section class="d-flex justify-content-center align-items-center mt-4 mb-3">
  <img class="img-fluid alta-ripa" alt="Alta Ripa" src="assets/img/altar-ipa.jpg" />
</section>

<div class="row mt-4 mb-2">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center dress-code">
      <h3 class="dress-code_title mb-3">Dress code</h3>
      <p class="ladies mb-1">
        Ladies - evening dress or cocktail dress
      </p>

      <p class="gentlemen">
        Gentlemen - suits
      </p>
    </div>
  </div>
</div>

<div class="row mt-4 mb-3 my-md-3">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <h3 class="present">Your loving presence at our wedding is a gift…we request no other.</h3>
  </div>
</div>
