<div class="row d-flex align-self-center">
  <div class="col-sm-12 col-md-12 col-lg-8 mx-lg-auto d-flex flex-column">
    <div class="d-flex flex-column justify-content-center align-items-center align-self-center">
      <div class="logo">
        <span>Welcome</span>
      </div>

      <div class="message">Please sign in using the password on your invite.</div>

      <mat-form-field class="w-100 pink" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password" [(ngModel)]="password">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <p class="text-danger" *ngIf="error.length > 0">{{error}}</p>

      <button type="button" class="teal mat-elevation-z3" mat-flat-button color="primary" (click)="signIn()">
        Sign in
      </button>
    </div>
  </div>
</div>
