@import '~/src/assets/styles/variables';

.message {
  margin: 1rem auto;
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 0.875rem;
  text-align: center;
}

.logo {
  font-size: 5rem;
  font-family: "hjirnotes", sans-serif;
  min-height: 100px;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
}

.mat-flat-button.teal {
  background-color: $teal !important;
  color: $dark-text !important;
  min-width: 130px;
}

.mat-form-field.pink {
  &.mat-focused {
    ::ng-deep .mat-form-field-label {
      color: $primary-color !important;
    }

    ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-appearance-outline {
      &::before {
        background-color: $primary-color !important;
      }

      .mat-form-field-ripple {
        background-color: $primary-color !important;
      }
    }

    ::ng-deep .mat-input-element {
      caret-color: $primary-color !important;
    }
  }
}
