@import "header";
@import "variables";

.mat-flat-button.teal {
  background-color: $teal !important;
  color: $dark-text !important;
  min-width: 130px;
  width: 220px;
  height: 45px;
  text-transform: uppercase;
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: darken($teal, 2%) !important;
  }
}

.mat-flat-button.red {
  background-color: $secondary-color !important;
  color: #ffffff !important;
  min-width: 130px;
  width: 220px;
  height: 45px;
  text-transform: uppercase;
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: darken($secondary-color, 3%) !important;
  }
}

.mat-flat-button.green {
  background-color: $green !important;
  color: #ffffff !important;
  min-width: 130px;
  width: 220px;
  height: 45px;
  text-transform: uppercase;
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: darken($secondary-color, 3%) !important;
  }
}

.mat-flat-button.small {
  width: 150px;
  height: 35px;
  font-size: 0.85rem;
}

.mat-form-field{
  &.pink {
    &.mat-focused {
      .mat-form-field-label {
        color: $primary-color !important;
      }

      .mat-form-field-outline,
      .mat-form-field-outline-thick {
        color: $primary-color !important;
      }

      .mat-form-field-underline,
      .mat-form-field-appearance-outline {
        &::before {
          background-color: $primary-color !important;
        }

        .mat-form-field-ripple {
          background-color: $primary-color !important;
        }
      }

      .mat-input-element {
        caret-color: $primary-color-dark !important;
      }
    }
  }

  &.gray {
    &.mat-focused {
      .mat-form-field-label {
        color: rgba(0,0,0,.54) !important;
      }

      .mat-form-field-outline,
      .mat-form-field-outline-thick {
        color: rgba(0,0,0,.12) !important;
      }

      .mat-form-field-underline,
      .mat-form-field-appearance-outline {
        &::before {
          background-color: rgba(0,0,0,.12) !important;
        }

        .mat-form-field-ripple {
          background-color: rgba(0,0,0,.12) !important;
        }
      }

      .mat-input-element {
        caret-color: rgba(0,0,0,.30) !important;
      }
    }
  }
}

.coming-soon {
  font-family: "Mrs Eaves", sans-serif !important;
  font-size: 2rem !important;
  text-align: center !important;
  font-weight: 500 !important;
  margin-top: 1rem !important;
}

.coming-soon--icon {
  margin-top: 1rem;
  font-size: 4rem;
  text-align: center;
  color: $secondary-color;
}
