@import '~/src/assets/styles/variables';

.marry-quote {
  font-family: "Parisienne", sans-serif;
  font-size: 2.5rem;
  line-height: 1.3;
  text-align: center;
  color: $dark-text;
}

.invite {
  font-family: "Serlio", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: $dark-text;
}

.wedding {
  .day {
    font-family: "Serlio", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: $primary-text;
  }

  .date {
    font-family: "Serlio", sans-serif;
    font-size: 2rem;
    text-align: center;
    color: $primary-text;
  }
}

.heart {
  object-fit: contain;
  width: auto;
  max-height: 500px;
}
