@import "~/src/assets/styles/main";

.title {
  font-family: "Bauer Bodoni", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: $dark-text;
}

@media (min-width: 300px) and (max-width: 768px) {
  .bus-banner {
    object-fit: cover;
    aspect-ratio: 1/0.6 !important;

    @supports not (aspect-ratio: auto) {
      object-fit: contain;
    }
  }
}

.bus-banner {
  object-fit: cover;
  aspect-ratio: 1/0.5;
  object-position: center 100%;

  @supports not (aspect-ratio: auto) {
    object-fit: contain;
  }
}

.transportation-intro {
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: $primary-text;
}

.transportation-deadline {
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: $primary-text;
}

.transportation-places {
  font-family: "Avant-Garde Medium", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: $secondary-color;
}
