<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3">
        Places to eat
      </h2>

      <p class="mt-2 places-intro">
        Since we know you'll be hungry after your long drive to Turnhout, <br />
        we have selected a number of restaurants in Turnhout with all kinds of cuisines to choose from.
      </p>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center places">

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Cachet de Cire</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/cachet-de-cire.jpg" alt="Resto Cachet de Cire" title="Resto Cachet de Cire">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Guldensporenlei 23
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 18:00 till 22:00
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Italian, French
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="https://www.cachetdecire.be/en/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Resto+Cachet+de+Cire/@51.3254473,4.9330025,16z/data=!4m8!3m7!1s0x47c6b22994278ea9:0xc6f1669e0ac4e819!5m2!4m1!1i2!8m2!3d51.3254507!4d4.9373816"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Argentino</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/argentino.jpg" alt="Argentino" title="Argentino">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Grote Markt 48-24
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 18:00 till 00:00
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Argentinian grill
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="http://www.argentino.be/index_2.html"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Argentijns+grillrestaurant+Argentino/@51.3230808,4.9497817,15z/data=!4m5!3m4!1s0x0:0xe8111cf739cb27a0!8m2!3d51.323081!4d4.9498299"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Becherelle</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/becherelle.jpg" alt="Becherelle" title="Becherelle">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Patersstraat 13
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 17:00 till 21:30
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> French, Belgian
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="https://www.becherelle.be/becherelle/"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Becherelle/@51.3242149,4.9407682,15z/data=!4m13!1m7!3m6!1s0x0:0x29c28698ae8ce883!2sBecherelle!8m2!3d51.3242145!4d4.9495111!10e2!3m4!1s0x0:0x29c28698ae8ce883!8m2!3d51.3242145!4d4.9495111"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Amu</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
            <span>Featured in Michelin Guide</span>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/amu.jpg" alt="Amu" title="Amu">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Patersstraat 79
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 11:30 till 00:00
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Belgian, Fish
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="http://www.amu-turnhout.be/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Amu/@51.3264803,4.9493383,15z/data=!4m2!3m1!1s0x0:0x7b90bc7017e9ce68?sa=X&ved=2ahUKEwiKmJH2ven5AhUpMuwKHQVFAk8Q_BJ6BAh0EAU"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>PUUR</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/puur.jpg" alt="PUUR" title="PUUR">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Heizijde 99
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 12:00 till 00:00
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Mediterranean
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="https://www.heizijde99.be/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Puur/@51.336238,4.9321865,15z/data=!4m2!3m1!1s0x0:0x63391d97e2489dad?sa=X&hl=nl&ved=2ahUKEwjR54PfwOn5AhV77rsIHQ8ZCSoQ_BJ6BAhfEAU"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Cucina Marangon</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/marangon.jpg" alt="Cucina Marangon" title="Cucina Marangon">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Patersstraat 9
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 19:00 till 21:30
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Italian (Vegetarian friendly)
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="http://www.cucinamarangon.be/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Cucina+Marangon/@51.3241111,4.9495336,15z/data=!4m5!3m4!1s0x0:0x162f3ed1ad034c8!8m2!3d51.3241105!4d4.9495154"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Efeze</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star empty-star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/efeze.jpg" alt="Efeze" title="Efeze">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Grote Markt 32
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 11:00 till 00:00
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Mediterranean
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="https://restaurantefeze.be/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Efeze/@51.3232137,4.949771,15z/data=!4m5!3m4!1s0x0:0x87153479eb1e2533!8m2!3d51.323214!4d4.9498281"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="place-card mat-elevation-z3 w-sm-100 w-md-100 w-lg-75 w-xl-75 w-xxl-75">
        <mat-card-header>
          <mat-card-title>Het Keizershof</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star_half">star_half</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/keizershof.jpg" alt="Keizershof" title="Keizershof">
        <mat-card-content>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="place">place</mat-icon> Hoveniersstraat 1
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="schedule">schedule</mat-icon> Open from 17:00 till 21:00
          </span>
          <span class="place-item d-flex align-items-center">
            <mat-icon class="restaurant">restaurant</mat-icon> Belgian (Vegetarian friendly)
          </span>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-lg-row flex-sm-column flex-column justify-content-lg-between align-items-center">
          <a mat-flat-button class="red small mb-2 mb-lg-0 mb-xl-0 mb-xxl-0" color="primary" href="https://www.het-keizershof.be/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>

          <a mat-flat-button class="teal small" color="primary"
            href="https://www.google.com/maps/place/Het+Keizershof/@51.3257734,4.9554278,15z/data=!4m2!3m1!1s0x0:0x9831fac1fe12f88?sa=X&ved=2ahUKEwiN-Zr9w-n5AhWOgv0HHQ1rBukQ_BJ6BAhvEAU"
            target="_blank" rel="noopener">
            GOOGLE MAPS
          </a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
