<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3">
        Hotels
      </h2>

      <p class="mt-2 hotel-intro">
        We can't wait to celebrate with you! To make sure you are well rested on your stay here in Belgium,
        <br />
        we have selected a few options for your stay in Turnhout.
      </p>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center hotels">

      <!-- CORSENDONK TURNOVA -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Hotel Corsendonk Turnova</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/turnova.jpg" alt="Classic Room Corsendonk Turnova"
          title="Classic Room Corsendonk Turnova">
        <mat-card-content>
          <p>
            Hotel Corsendonk Turnova is a four star hotel in the centre of Turnhout. It features a modern and stylish
            interior, with it's own wellness.
          </p>

          <small class="mt-2">Prices from €230 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button class="red small" color="primary"
            href="https://corsendonkhotels.com/en/location/corsendonk-turnova/" target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- CORSENDONK VIANE -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Hotel Corsendonk Viane</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/viane.jpg" alt="Comfort Room Corsendonk Viane"
          title="Comfort Room Corsendonk Viane">
        <mat-card-content>
          <p>
            Hotel Corsendonk Viane is a three star hotel in the centre of Turnhout. It features a stylish and
            contemporary
            design, and is easy accesible by public transport and car. Free parking included.
          </p>

          <small class="mt-2">Prices from €155 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button class="red small" color="primary"
            href="https://corsendonkhotels.com/en/location/corsendonk-viane/" target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- BEST WESTERN PLUS CITY HOTEL -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>City Hotel Best Western Plus</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/best-western2.jpg" alt="Comfort Double Best Western Plus City Hotel"
          title="Comfort Double Best Western Plus City Hotel">
        <mat-card-content>
          <p>
            City Hotel Best Western Plus is a four star hotel located in the bustling centre of Turnhout, near the Grote
            Markt. The hotel is situated near the station and the bus stop, and has its own casino, gym and restaurant.
          </p>

          <p>
            The elegantly furnished hotel rooms come with wonderful beds and luxurious bathrooms with a toilet. The
            rooms furthermore come with WiFi, a TV and tea and coffee facilities.
          </p>

          <small class="mt-2">Prices from €160 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button class="red small" color="primary" href="http://www.turnhoutcity-hotel.be/en/"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- B&B BON BON NUIT -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>B&B Bon Bon 'Nuit'</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              Rated 9 out of 10
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/bon-bon-nuit.jpg" alt="Comfort Double Room B&B Bon Bon 'Nuit'"
          title="Comfort Double Room B&B Bon Bon 'Nuit'">
        <mat-card-content>
          <p>
            Bed and breakfast Bon Bon 'Nuit' is a chocolate-themed bed with rooms designed to look like Paris in the
            1930's. <br />
            In the morning, guests can enjoy a deluxe breakfast including fresh breads, freshly baked croissants and
            multiple types of hot chocolate, since downstairs they have their own chocolate shop.
          </p>

          <p>
            The B&B lies just around the corner of the train station in Turnhout centre.
          </p>

          <small class="mt-2">Prices from €175 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button class="red small" color="primary"
            href="https://www.booking.com/hotel/be/b-b-bon-bon.html?aid=356980&label=gog235jc-1DCAsoFUILYi1iLWJvbi1ib25IHFgDaKkBiAEBmAEcuAEXyAEM2AED6AEB-AECiAIBqAIDuAKylqGWBsACAdICJGMxYWJmZjlmLTEyM2QtNGMyMS1iMWUxLTkzNTU3ZmI1NWNiMNgCBOACAQ&sid=2f7a5c0edd24fa0f54a830aa683b52f6&dist=0&lang=en-us&room1=A%2CA&sb_price_type=total&soz=1&type=total&lang_click=other&cdl=nl&lang_changed=1"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- HOTEL TER DRIEZEN -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Hotel Ter Driezen</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/ter-driezen.jpg" alt="Business Room Ter Driezen"
          title="Business Room Ter Driezen">
        <mat-card-content>
          <p>
            Hotel Ter Driezen is a small family-run hotel in the centre of Turnhout with the charm of an old manor.
            The hotel has refined rooms with traditional decor, along with a terrace, gardens & free breakfast & Wi-Fi.
          </p>

          <small class="mt-2">Prices from €330 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button class="red small" color="primary" href="https://ter-driezen.com/en/" target="_blank"
            rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
