<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3">
        Hotels & accomodations
      </h2>

      <p class="mt-2 hotel-intro">
        We can't wait to celebrate with you! To make sure you are wellrested on our wedding day,
        <br />
        we have selected a few options for your stay in Turnhout.
      </p>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center hotels">

      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Hotel Corsendonk Turnova</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/turnova.jpg" alt="Bedroom Corsendonk Turnova">
        <mat-card-content>
          <p>
            Hotel Corsendonk Turnova is a four star hotel in the centre of Turhout.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>
