<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3">
        Hotels & accomodations
      </h2>

      <p class="mt-2 hotel-intro">
        We can't wait to celebrate with you! To make sure you are well rested on your stay here in Belgium,
        <br />
        we have selected a few options for your stay in Turnhout.
      </p>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center hotels">

      <!-- CORSENDONK TURNOVA -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Hotel Corsendonk Turnova</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/turnova.jpg" alt="Classic Room Corsendonk Turnova"
          title="Classic Room Corsendonk Turnova">
        <mat-card-content>
          <p>
            Hotel Corsendonk Turnova is a four star hotel in the centre of Turnhout. It features a modern and stylish
            interior, with it's own wellness.
          </p>

          <small class="mt-2">Prices starting at €100 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button color="primary" href="https://corsendonkhotels.com/en/location/corsendonk-turnova/"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- CORSENDONK VIANE -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>Hotel Corsendonk Viane</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/viane.jpg" alt="Comfort Room Corsendonk Viane"
          title="Comfort Room Corsendonk Viane">
        <mat-card-content>
          <p>
            Hotel Corsendonk Viane is a three star hotel in the centre of Turhout. It features a stylish and
            contemporary
            design, and is easy accesible by public transport and car. Free parking included.
          </p>

          <small class="mt-2">Prices starting at €70 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button color="primary" href="https://corsendonkhotels.com/en/location/corsendonk-viane/"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- BEST WESTERN PLUS CITY HOTEL -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>City Hotel Best Western Plus</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/best-western2.jpg" alt="Comfort Double Best Western Plus City Hotel"
          title="Comfort Double Best Western Plus City Hotel">
        <mat-card-content>
          <p>
            City Hotel Best Western Plus is a four star hotel located right next to the train station.
          </p>

          <small class="mt-2">Prices starting at €160 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button color="primary" href="http://www.turnhoutcity-hotel.be/en/"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>

      <!-- BEST WESTERN PLUS CITY HOTEL -->
      <mat-card class="hotel-card mat-elevation-z6">
        <mat-card-header>
          <mat-card-title>City Hotel Best Western Plus</mat-card-title>
          <mat-card-subtitle>
            <div class="d-flex align-items-center rating">
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
              <mat-icon class="star">star</mat-icon>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/best-western2.jpg" alt="Comfort Double Best Western Plus City Hotel"
          title="Comfort Double Best Western Plus City Hotel">
        <mat-card-content>
          <p>
            City Hotel Best Western Plus is a four star hotel located right next to the train station.
          </p>

          <small class="mt-2">Prices starting at €160 for two nights</small>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button color="primary" href="http://www.turnhoutcity-hotel.be/en/"
            target="_blank" rel="noopener">
            VISIT WEBSITE
          </a>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>
