@import "variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;

  .logo {
    margin: 4rem 0;
    text-align: center;
    font-family: "hjirnotes", sans-serif;
    font-size: 4rem;
    height: auto;
  }

  .navbar {
    margin-top: 1rem;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #282828;

    .navbar-nav {
      // gap: 0.5rem;
      align-items: center;
    }

    .nav-item {
      .nav-link {
        font-family: "Avant-Garde Medium", sans-serif;
        color: $primary-text;
        text-align: center;
        text-transform: uppercase;

        &.active {
          color: $dark-text;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 6vh;
    padding-bottom: 15px;
    background: $background-color;

    background-image: url("~/src/assets/img/flowers_top--transparent2.png");
    background-size: 100% auto;
    //background-size: contain;
    background-repeat: no-repeat;
    background-position: center -1.5vh;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;
      background: $background-color;

      .nav-item {
        .nav-link {
          font-size: 0.875rem;
          color: $dark-text;

          &.active {
            color: #000;
          }
        }
      }
    }

    .logo {
      margin: 4rem 0 0.5rem 0;
      font-size: 2.875rem;
      background-color: $background-color;
      display: flex;
      width: auto;
      height: 55px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      > span {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;
    background: $background-color;

    background-image: url("~/src/assets/img/flowers_top--transparent2.png");
    background-size: 100% auto;
    //background-size: contain;
    background-repeat: no-repeat;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;
      background: $background-color;

      .nav-item {
        .nav-link {
          font-size: 0.875rem;
          color: $dark-text;

          &.active {
            color: #000;
          }
        }
      }
    }

    .logo {
      margin: 4rem 0 1.5rem 0;
      font-size: 2.5rem;

      background-color: $background-color;
      display: flex;
      width: auto;
      height: 55px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      > span {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 6vh;
    padding-bottom: 2rem;
    //padding-bottom: 15px;
    background: $background-color;

    background-image: url("~/src/assets/img/flowers_top--transparent2.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center -5vh;
    //background-size: 100% 70%;
    //background-size: cover;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;
      background: $background-color;

      .nav-item {
        .nav-link {
          font-size: 0.875rem;
          color: $dark-text;

          &.active {
            color: #000;
          }
        }
      }
    }

    .logo {
      margin: 5rem 0 2rem;
      font-size: 3.4375rem;

      background-color: $background-color;
      display: flex;
      width: auto;
      height: 55px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      > span {
        display: flex;
        width: auto;
        height: 100%;
        align-items: center;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;

      .nav-item {
        .nav-link {
          font-size: 0.875rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 15px;

    .navbar {
      width: 90%;
    }

    .navbar-toggler {
      margin: 0 auto;
      font-size: 1rem;
    }

    .navbar-nav {
      gap: 0.2rem;
      margin-top: 1rem;

      .nav-item {
        .nav-link {
          font-size: 0.875rem;
        }
      }
    }
  }
}
