$background-color: #bba18a;
$background-light-color: #f2f2f2;
$primary-color: #facbb1;
$secondary-color: #e31d4b;
$primary-text: #707070;
$dark-text: #282828;
//$teal: #cddcd8;
$teal: #c5dcd6;
$green: #8ce27e;

@font-face {
  font-family: "Avant-Garde Extra Light";
  src: url("~/src/assets/fonts/avant-garde_extra-light.ttf");
}

@font-face {
  font-family: "Avant-Garde Medium";
  src: url("~/src/assets/fonts/avant-garde_medium.ttf");
}

@font-face {
  font-family: "hjirnotes";
  src: url("~/src/assets/fonts/hjirnotes.ttf");
}

@font-face {
  font-family: "Josefin";
  src: url("~/src/assets/fonts/josefin.ttf");
}

@font-face {
  font-family: "Parisienne";
  src: url("~/src/assets/fonts/parisienne.ttf");
}

@font-face {
  font-family: "Serlio";
  src: url("~/src/assets/fonts/serlio.ttf");
}

@font-face {
  font-family: "ITC Avant-Garde Pro Book";
  src: url("~/src/assets/fonts/ITC_avant-garde_pro--bk.ttf");
}

@font-face {
  font-family: "ITC Avant-Garde Pro Book Oblique";
  src: url("~/src/assets/fonts/ITC_avant-garde_pro--obl.ttf");
}

@font-face {
  font-family: "Bauer Bodoni";
  src: url("~/src/assets/fonts/bauer-bodoni--standard.ttf");
}

@font-face {
  font-family: "Mrs Eaves";
  src: url("~/src/assets/fonts/mrs-eaves.ttf");
}
