<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">
      <h2 class="title mt-3" [translate]="'contact.title'"></h2>

      <p class="mt-2 contact-intro" [innerHTML]="'contact.intro' | translate"></p>
    </div>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mx-auto">
    <div class="d-flex flex-column align-items-center">

      <form class="w-50" ngNoForm #contactForm action="https://mailthis.to/Meet The Blackmores Wedding" method="POST"
        encType="multipart/form-data" (ngSubmit)="sendForm()">

        <mat-form-field class="w-100 pink" appearance="fill">
          <mat-label [translate]="'contact.form.name'"></mat-label>
          <input name="name" matInput type="text" placeholder="{{ 'contact.form.name' | translate }}" required />
        </mat-form-field>

        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input name="_replyto" matInput type="text" placeholder="E-mail" required />
        </mat-form-field>

        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label [translate]="'contact.form.subject'"></mat-label>
          <input name="_subject" matInput type="text" placeholder="{{ 'contact.form.subject' | translate }}" required />
        </mat-form-field>

        <mat-form-field class="w-100 pink mt-2" appearance="fill">
          <mat-label [translate]="'contact.form.message'"></mat-label>
          <textarea matInput name="message" placeholder="{{ 'contact.form.message' | translate }}" rows="5"
            required></textarea>
        </mat-form-field>

        <input type="hidden" name="_honeypot" value="">

        <button type="submit" class="teal mat-elevation-z3 mt-2" mat-flat-button color="primary"
          title="{{ 'contact.button' | translate }}">
          <span [translate]="'contact.button'"></span>
        </button>
      </form>

    </div>
  </div>
</div>
